* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style-type: none;
  margin-top: 0;
margin-bottom: 0;
padding-left: 0;
}

img {
  display: block;
  height: auto;
}

.form {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 32px;
}

.input {
  width: 272px;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus {
  border: 1px solid #000000;
}

.input::placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
}


.btn {
  display: block;
  width:91px;
  height:40px;
  padding: 8px 16px;
  gap: 10px;
  border-radius: 8px;   

  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: #ffffff;
  cursor: pointer;
  background-color: #4D5AE5;
  border: none;
  border-radius: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover {
  background-color: #6C8CFF;
}

.loadbtn {
  margin: 32px auto;
  display: block;
  height:40px;
  padding: 8px 16px;
  gap: 10px;
  border-radius: 8px;   

  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: #ffffff;
  cursor: pointer;
  background-color: #4D5AE5;
  border: none;
  border-radius: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.loadbtn:hover {
  background-color: #6C8CFF;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  gap: 24px;
  max-width: 1140px;
  margin: 0 auto;
}

.galleryItem {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  border-color: #808080;
}

.smallImage {
  width: 360px;
  height: 200px;
  object-fit: cover;
}

.statsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.statsColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.stats {
  font-weight: 600;
}

.statsvalue {
  font-weight: 400;
}
.loader {
  margin: 0 auto;
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: #FF3D00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 